@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=latin-ext');

$primaryColor: #e67e22;
$primaryColorDarker: #d35400;
$light: #ecf0f1;
$darkLighter: #617487;
$dark: #2c3e50;
$darkDarker: #1B3147;

@mixin flexDisplay {
    display: -webkit-flex;
    display: flex;
}

@mixin flexCenter {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

@mixin flexColumn {
    -webkit-flex-direction: column;
    flex-direction: column;
}

@mixin flexWrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin transition($time) {
    -webkit-transition: $time;
    transition: $time;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $dark;
    font-family: 'Play', sans-serif;
    font-size: 18px;
}

@media (max-width: 767px) {
    
    body {
        font-size: 16px;
    }
    
}

h1, h2, h3 {
    color: $primaryColorDarker;
    margin: 0 0 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 18px;
    margin-top: 20px;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin: 20px 0;
    text-align: center;
}

a {
    color: $primaryColor;
    text-decoration: none;

    &:hover:not([class*="btn"]) {
        border-bottom: 1px dotted $primaryColorDarker;
        color: $primaryColorDarker;
    }
}

img {
    max-width: 100%;
    height: auto;
}

section:not(#skills) {
    padding: 80px 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    @include flexDisplay;
    @include flexWrap;
}

.col-1 {
    -webkit-flex: 1;
    flex: 1;
}

.col-2 {
    -webkit-flex: 2;
    flex: 2;
}

[class*="col-"]+[class*="col-"] {
    margin-left: 10px;
}

@media (max-width: 767px) {
    
    .row {
        @include flexColumn;
    }
    
    [class*="col-"]+[class*="col-"] {
        margin-left: 0;
    }
    
}

[class*="btn"] {
    border: none;
    border-radius: 10px;
    background: $primaryColor;
    color: $light;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    line-height: 50px;
    margin: 10px;
    min-width: 120px;
    padding: 0 20px;
    @include transition(.5s);

    &:hover {
        background: $primaryColorDarker;
    }
}

.social {
    display: block;
    text-align: center;
}

.social-btn {
    border-radius: 50%;
    font-size: 18px;
    line-height: 40px;
    min-width: inherit;
    padding: 0;
    width: 40px;

    &:hover {
        background: none;
        color: $dark;
        transform: scale(1.8);
    }
}

.nowrap {
    white-space: nowrap;
}

.trans-bg {
    background: rgba(50, 50, 50, .5);
    width: 100%;
    height: 100%;
    padding: 100px 0;
    @include flexDisplay;
    @include flexCenter;
    @include flexColumn;

    ~* {
        z-index: 1;
    }
}

/* ------------------------------------------- HEADER */

header {
    background: url(../images/header.jpeg) center/cover fixed;
    min-height: 100vh;
    width: 100%;
    @include flexDisplay;
    @include flexCenter;

    >hgroup {
        margin-top: 60px;
        max-width: 500px;
        padding: 15px;

        >h1,
        >h2 {
            margin: 0;
        }
    }
}

@media (orientation: landscape) and (max-width: 767px) {
    
    header p {
        background: rgba(234, 242, 248, .8);
        margin: 0 auto;
    }
    
}

/* ------------------------------------------- NAVBAR */

.navbar {
    background: #fff;
    box-shadow: 0 1px 2px #999;
    line-height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;

    label,
    input {
        display: none;
    }

    ul>li {
        list-style: none;

        >a {
            border-bottom: 3px solid transparent;
            color: inherit;
            display: block;
            text-align: center;
            text-decoration: none;
            @include transition(.5s);
            -webkit-transition-property: border, color;
            transition-property: border, color;

            &:hover {
                border-bottom: 3px solid $primaryColorDarker;
                color: $primaryColorDarker;
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 767px) {
    
    .navbar {
        position: absolute;
    
        label {
            cursor: pointer;
            display: block;
            font-size: 30px;
            line-height: 60px;
            text-align: center;
        }
    
        ul {
            display: none;

            >li>a:hover {
                border-bottom: 3px solid transparent;
            }
        }
    
        input:checked {
            ~ ul {
                display: block;
            }

            ~ label>i:first-of-type {
                display: none;
            }
        }
        
        input:not(:checked) ~ label>i:last-of-type {
            display: none;
        }
    }
    
}

/* ------------------------------------------- SECTION ABOUT */


#about {
    p {
        text-align: left;
    }
    ul {
        display: inline-block;
        /*margin: 0 auto;*/
        margin-left: 20px;
        list-style-position: inside;
    }
    .row {
        .col-1 {
            p {
                font-size: 16px;
                text-align: center;
            }

            i {
                display: block;
                font-size: 100px;
                text-align: center;
            }
        }
        /*
        &:first-of-type {
            @include flexColumn;
        }*/
    }
}

/* ------------------------------------------- SECTION SKILLS */

#skills {
    background: $dark;

    >.col-1:first-of-type {
        padding: 50px 0;
    }

    .pg-group {
        padding: 0 50px;
    }
}

.skills-img {
    background: url(https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center/cover #eee;
    color: $light;
    @include flexDisplay;

    p {
        font-size: 1.2em;
        padding: 0 50px;
    }
}

@media (max-width: 767px) {
    
    #skills .pg-group, .skills-img p {
        padding: 0 15px;
    }
    
}

/* PROGRESS BAR */

.progressbar {
    background: $darkLighter;
    margin: 20px 0 5px;;

    ~p {
        color: $light;
        font-size: 14px;
        margin: 5px 0 20px;
        text-align: left;
    }

    >[class*="ps-"] {
        background: $primaryColor;
        color: $light;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0;
        margin: 0;
    }

    >.ps-20 {
        width: 20%;
    }

    >.ps-50 {
        width: 50%;
    }

    >.ps-60 {
        width: 60%;
    }

    >.ps-75 {
        width: 75%;
    }

    >.ps-90 {
        width: 90%;
    }
}

/* ------------------------------------------- SECTION PORTFOLIO */

#projects>.container>.row>.col-1 {
    margin: 20px 0;
    @include flexDisplay;
    @include flexCenter;
}

.project {
    box-shadow: 0 0 5px 1px #999;
    width: 355px;
    position: relative;

    img {
        max-width: 100%;
        vertical-align: middle;
    }

    .hidden-lg {
        background: rgba(250, 250, 250, .9);
        overflow: hidden;
        padding: 10px;
        position: absolute;
        top: calc(100% - 47px);
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        @include flexDisplay;
        @include flexCenter;
        @include transition(.5s);
        @include flexWrap;
    
        >h2 {
            margin: 0;
        }

        >p {
            margin: 10px 0;
        }
    }
    
    &:hover .hidden-lg {
        top: 0;
    }
}
    
.promote::after {
    text-shadow: 0 0 4px #a67c00;
    content: "\f005";
    color: #ffbf00;
    font-family: FontAwesome;
    font-size: 3em;
    right:-15px;
    top: -15px;
    position: absolute;
}

@media (max-width: 991px) {

    .project .hidden-lg {
        border-top: 1px solid #999;
        position: static;
    }
    
}

@media (max-width: 767px) {

    .project {
        width: 100%;
    }
    
}



/* ------------------------------------------- ASIDE */

aside {
    background: $light;
    padding: 80px 0;

    .icons {
        -webkit-justify-content: space-around;
        justify-content: space-around;
        margin: 40px 0 0;
        @include flexDisplay;
        @include flexWrap;

        >svg {
            height: 100px;
            width: 100px;
            margin: 10px 5px;

            &:hover {
                animation: pulse 1s infinite;
            }

            &:nth-of-type(1) {
                fill: #E34F26;
            }

            &:nth-of-type(2) {
                fill: #1572B6;
            }

            &:nth-of-type(3) {
                fill: #00C8FF;
            }

            &:nth-of-type(4) {
                fill: #563D7C;
            }

            &:nth-of-type(5) {
                fill: #CC6699;
            }

            &:nth-of-type(6) {
                fill: #21759B;
            }

            &:nth-of-type(7) {
                fill: #181717;
            }

            &:nth-of-type(8) {
                fill: #F14E32;
            }
        }
    }
}

@keyframes pulse {
    0%, 50%, 100% {
        transform: scale(1);
    }
    10%, 40%, 60%, 90% {
        transform: scale(1.02);
    }
    20%, 30%, 70%, 80% {
        transform: scale(1.04);
    }
    25%, 75% {
        transform: scale(1.05);
    }
}

/* ------------------------------------------- TIMELINE SECTION */

#timeline {
    .row {
        margin: 60px 0;
    }

    h2,
    h3,
    .row p {
        margin: 10px 0;
        text-align: left;
    }
}

.activity-box {
    .activity {
        display: block;
        font-size: 14px;
        padding: 5px 0;
    }
    
    >.activity-date {
        @extend .activity;
        border-bottom: 1px solid #555;
    }

    >.activity-name {
        @extend .activity;
        font-weight: 700;
    }
}

#timeline li {
    line-height: 1.25;
    list-style: circle inside;
}

li.done::after {
    content: " \002714";
    color: #2BB300;
}

li.pending::after {
    content: " (w trakcie)";
    color: #FAB61E;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

/* ------------------------------------------- CONTACT SECTION */

#contact {
    background: $dark;
    color: $light;

    a,
    i.fa {
        color: $light;
        font-size: 2em;
        text-align: center;
        width: 100%;
        @include transition(.5s);
    }

    a:hover,
    a:hover i.fa {
        border: none;
    }

    .col-1 p {
        cursor: pointer;

        &:hover {
            a,
            i.fa {
                color: $darkLighter;
            }
        }
    }
}


/* ------------------------------------------- FOOTER */

footer {
    background: $darkDarker;
    color: $darkLighter;
    padding: 20px;
}
